@import 'variables';

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: $secondary-color;
  color: $text-color;
}

header, footer {
  padding: 20px 30px;
  background-color: $secondary-color;
}

main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: $text-color;
  color: $secondary-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;         /* 角丸 */
}

footer {
  text-align: center;
  font-size: $font-size-medium;
}